# Dependencies
node_modules/
.pnpm-store/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Build
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
